<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Data Analyst Job Market</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- Marker Cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

  </head>
  
  <body>
    <h1> Data Analyst Job Market Comparisons</h1>

    <!-- The div that holds our map -->
    <div id="map"></div> 

      <!-- Our rows function in containers (grid created). -->
    <div id="graphs">
    <section>
      <h1> Graph Comparisons</h1>

      <!-- <p><em>Job Density</em></p>
      <img src="assets/images/Graph_JobCount.png" alt="exCount" style="max-width:600px;width:100%">
      
      <p><em>Midpoint Salary</em></p>
      <img src="assets/images/Graph_AvgSalary.png" alt="Cloudy Map" style="max-width:600px;width:100%">
      <hr>
      
      <p><em>Employer Rating</em></p>
      <img src="assets/images/Graph_EmployerRating.png" alt="ex Rating" style="max-width:600px;width:100%">
      <hr>

      <hr>
      <p><em>Conclusion</em></p>
      <img src="assets/images/Graph_Conclusion.png" alt="ex Conclusion" style="max-width:600px;width:100%"> -->


    </section> 

 
      

      <!-- <div>
        <p><em>GRAPH Salary</em></p>
        <img src="/assets/images/PIA14944_small.jpg" alt="ex salary"> -->
        <!-- <img src="assets/Graph_AvgSalary.png" alt="GRAPH Salary">
      </div> -->

      <!-- <p><em>GRAPH Rating</em></p>
      </article>
      <br>
      <article> -->
      <!-- <a target="_blank" href="assets/images/Graph_EmployerRating.png"> -->
      <!-- <img class ="graph" src="/assets/images/Graph_EmployerRating.png" alt="ex Rating">
      </a>


      <p><em>GRAPH Count</em></p>
      </article>
      <br>
      <article> -->
        <!-- <a target= "blank" href="assets/images/Graph_JobCount.png"> -->
        <!-- <img src="/assets/images/Graph_JobCount.png" alt="exCount">
        </a>


        <p><em>GRAPH Conclusion</em></p>
      </article>
      <br>
      <article> -->
        <!-- <a target= "blank" href="/assets/images/Graph_Conclusion.png"> -->
        <!-- <img src="/assets/images/Graph_Conclusion.png" alt="ex Conclusion">
        </a> -->


      
    </div>
    </section>



    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- ADDED: HEATMAP LEAFLET PLUG-IN -->

    <!-- <script src="src/heatmap.js"></script> -->
    <script src="static/heatmap.js"></script>

    <!-- <script src="src/heatmap.js"></script> -->
    <script src="static/leaflet-heatmap.js"></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  
   <!-- API key -->
    <script type="text/javascript" src="static/config.js"></script>
   
    <!-- Our JS -->
    <script type="text/javascript" src="static/logic.js"></script>

  </body>
</html>
